:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --footer-cont-color: rgba(255, 255, 255, 0.6);
  --third-color: #ffffff;
  --accent-color: rgba(33, 150, 243, 1);
  --main-bg-color: #ffffff;
  --second-bg-color: rgba(47, 48, 58, 1);
  --third-bg-color: rgba(245, 244, 250, 1);
  --primary-button-color: rgba(245, 244, 250, 1);
}



body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 1px solid blue;
  width: 1600px;
}

.container {
 width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
 outline: 1px solid tomato;
 margin: 0 auto;
}

/*header*/

.header-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header-logo .logo-web {
  color: var(--accent-color);
}

.header-logo .logo-studio {
  color: var(--primary-text-color);
}

.header-item {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-item:hover,
.header-item:focus {
  color: var(--accent-color);
}

.header-list .header-item.current {
  color: var(--accent-color);
}

.page-header{
  padding-top: 32px;
  padding-bottom: 32px;
  outline: 1px solid blue;
  width: 1600px;
}

.page-header .contact-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/*main hero*/
.hero {
  background: var(--second-bg-color);
  text-align: center;
  padding: 200px;
}
.hero .titel {
  color: var(--third-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.hero .button {
  background-color: var(--accent-color);
  color: var(--third-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
}



/*main benefits*/


.non-title {
  display: none;
}

.ben-list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  width: 270px;
  
}
.ben-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);
  width: 270px;
  margin-top: 10px;
}
/*main*/
.section-title {
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
/*main team*/
.team-item {
  width: 270px;
  height: 368px;
  
}
.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-section {
  background: var(--third-bg-color);
}

/*footer*/
.footer {
  background: var(--second-bg-color);
  width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  outline: 1px solid blue;

}
.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-logo .logo-web {
  color: var(--accent-color);
}

.footer-logo .logo-studio {
  color: var(--third-color);
}

.footer-text {
  color: var(--third-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-contact .contact-link {
  color: var(--footer-cont-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/*portfolio page*/
.portfolio .button-item:hover,
.portfolio .button-item:focus {
  background: var(--accent-color);
  color: var(--third-color);
}

.portfolio .button-item {
  background-color: var(--primary-button-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}

.portfolio .project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio .project-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
